# APP
HTTP_PORT=4000
HTTP_HOST=localhost

# PostgreSQL
DATABASE_URL=postgresql://admin:123456@localhost:5432/db_name?schema=public
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5432
POSTGRES_DB=db_name

# PGAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=123456
